:root {
  --primary: $active-color;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #0F172B;
}
.header .navbar-brand {
  color: #fea116;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.2rem;
}
.header .contact {
  background-color: #fff;
}
.header .contact .icon {
  color: #fea116;
}
.header .navbar {
  background-color: #0F172B;
  width: 100%;
}
.header .navbar .bar {
  color: #F1F8FF;
  border: 0.1rem solid #F1F8FF;
  position: relative;
  right: 1rem;
}
.header .navbar .bar:focus {
  box-shadow: none;
}
.header .navbar .navbar-nav {
  margin-right: auto;
}
.header .navbar .navbar-nav .nav-item .nav-link {
  color: white;
  padding: 1.5rem 0;
  margin-left: 2rem;
}
.header .navbar .navbar-nav .nav-item .nav-link.active, .header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #fea116;
}
.header .navbar .navbar-nav .nav-item .nav-link a.dropdown-toggle:hover + .dropdown-menu {
  display: block;
}

.home .carousel-inner .carousel-caption {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(21, 33, 56, 0.7);
}
.home .carousel-inner .carousel-caption .content {
  perspective: 300px;
}
.home .carousel-inner .section-title {
  background-color: transparent;
}
.home .carousel-inner .section-title::after {
  content: "";
  position: absolute;
  left: 65%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0.1rem;
  width: 8%;
  background-color: #fea116;
}
@media (max-width: 650px) {
  .home .carousel-inner .section-title::after {
    left: 75%;
    top: 50%;
  }
}
.home .carousel-inner .section-title::before {
  content: "";
  position: absolute;
  right: 58%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0.1rem;
  width: 8%;
  background-color: #fea116;
}
@media (max-width: 650px) {
  .home .carousel-inner .section-title::before {
    left: 25%;
    top: 50%;
  }
}
.home .carousel-inner a.btn-first {
  background-color: #fea116;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  .home .carousel-inner .carousel-item {
    min-height: 450px;
    position: relative;
  }
  .home .carousel-inner .carousel-item img {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.booking {
  position: relative;
  margin-top: -3.5rem;
  z-index: 2;
  text-transform: capitalize;
}
.booking .btn {
  background-color: #fea116;
}

.about .hesd-about {
  color: #fea116;
  font-weight: 800;
  position: relative;
  text-transform: uppercase;
}
.about .hesd-about::after {
  content: "";
  width: 2.8rem;
  height: 0.15rem;
  background-color: #fea116;
  position: absolute;
  left: 6.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.about h1 .hotelier {
  color: #fea116;
}

.room .main-head {
  text-align: center;
}
.room .main-head h6 {
  font-weight: 800;
  font-size: 1.3rem;
  color: #fea116;
  display: inline-block;
  position: relative;
}
.room .main-head h6::before {
  content: "";
  position: absolute;
  width: 2.8rem;
  height: 0.18rem;
  background-color: #fea116;
  left: -55px;
  top: 50%;
}
.room .main-head h6::after {
  content: "";
  position: absolute;
  width: 2.8rem;
  height: 0.18rem;
  background-color: #fea116;
  right: -55px;
  top: 50%;
}
.room .main-head h1 {
  font-weight: 800;
}
.room .main-head h1 span {
  color: #fea116;
  text-transform: uppercase;
}
.room .price {
  background-color: #fea116;
}
.room .content {
  font-size: 0.9rem;
}

svg {
  color: #fea116;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fea116;
  color: white;
}
.btn:hover {
  background-color: #fea116;
  color: white;
}
.btn.bg-dark {
  background-color: #212529;
  color: white;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.delay1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delay1 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay3 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}/*# sourceMappingURL=hotel.css.map */