:root {
  --primary: $active-color;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #0F172B;
}
.header .navbar-brand {
  color: #fea116;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.2rem;
}
.header .contact {
  background-color: #fff;
}
.header .contact .icon {
  color: #fea116;
}
.header .navbar {
  background-color: #0F172B;
  width: 100%;
}
.header .navbar .bar {
  color: #F1F8FF;
  border: 0.1rem solid #F1F8FF;
  position: relative;
  right: 1rem;
}
.header .navbar .bar:focus {
  box-shadow: none;
}
.header .navbar .navbar-nav {
  margin-right: auto;
}
.header .navbar .navbar-nav .nav-item .nav-link {
  color: white;
  padding: 1.5rem 0;
  margin-left: 2rem;
}
.header .navbar .navbar-nav .nav-item .nav-link.active, .header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #fea116;
}
.header .navbar .navbar-nav .nav-item .nav-link a.dropdown-toggle:hover + .dropdown-menu {
  display: block;
}

.home .carousel-inner .carousel-caption {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(21, 33, 56, 0.7);
}
.home .carousel-inner .carousel-caption .content {
  perspective: 300px;
}
.home .carousel-inner .section-title {
  background-color: transparent;
}
.home .carousel-inner .section-title::after {
  content: "";
  position: absolute;
  left: 65%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0.1rem;
  width: 8%;
  background-color: #fea116;
}
@media (max-width: 650px) {
  .home .carousel-inner .section-title::after {
    left: 75%;
    top: 50%;
  }
}
.home .carousel-inner .section-title::before {
  content: "";
  position: absolute;
  right: 58%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0.1rem;
  width: 8%;
  background-color: #fea116;
}
@media (max-width: 650px) {
  .home .carousel-inner .section-title::before {
    left: 25%;
    top: 50%;
  }
}
.home .carousel-inner a.btn-first {
  background-color: #fea116;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  .home .carousel-inner .carousel-item {
    min-height: 450px;
    position: relative;
  }
  .home .carousel-inner .carousel-item img {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: none;
  }
}
.booking {
  position: relative;
  margin-top: -3.5rem;
  z-index: 2;
  text-transform: capitalize;
}
.booking .btn {
  background-color: #fea116;
}

.about .hesd-about {
  color: #fea116;
  font-weight: 800;
  position: relative;
  text-transform: uppercase;
}
.about .hesd-about::after {
  content: "";
  width: 2.8rem;
  height: 0.15rem;
  background-color: #fea116;
  position: absolute;
  left: 6.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.about h1 .hotelier {
  color: #fea116;
}

.hidden {
  visibility: hidden;
}

.room .main-head {
  text-align: center;
}
.room .main-head h6 {
  font-weight: 800;
  font-size: 1.3rem;
  color: #fea116;
  display: inline-block;
  position: relative;
}
.room .main-head h6::before {
  content: "";
  position: absolute;
  width: 2.8rem;
  height: 0.18rem;
  background-color: #fea116;
  left: -55px;
  top: 50%;
}
.room .main-head h6::after {
  content: "";
  position: absolute;
  width: 2.8rem;
  height: 0.18rem;
  background-color: #fea116;
  right: -55px;
  top: 50%;
}
.room .main-head h1 {
  font-weight: 800;
}
.room .main-head h1 span {
  color: #fea116;
  text-transform: uppercase;
}
.room .price {
  background-color: #fea116;
}
.room .content {
  font-size: 0.9rem;
}

.video.show {
  position: relative;
  -webkit-animation: zoomIn 0.4s ease-in 1;
          animation: zoomIn 0.4s ease-in 1;
}
.video h5 {
  position: relative;
  display: inline-block;
}
.video h5::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 3.5rem;
  top: 50%;
  right: -4.5rem;
  background-color: #fea116;
}
.video .play-video {
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/video.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video .fa-play {
  z-index: 10;
}
.video .btn-play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  box-sizing: content-box;
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #fea116;
}
.video .btn-play::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fea116;
  -webkit-animation: pluse-border 1s infinite ease-out;
          animation: pluse-border 1s infinite ease-out;
}
.video .play {
  border: 2px solid red;
}

svg {
  color: #fea116;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fea116;
  color: white;
}
.btn:hover {
  background-color: #fea116;
  color: white;
}
.btn.bg-dark {
  background-color: #212529;
  color: white;
}

@-webkit-keyframes pluse-border {
  0% {
    transform: translatex(-50%) translatey(-50%) translatez(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translatex(-50%) translatey(-50%) translatez(0) scale(1.8);
    opacity: 0;
  }
}

@keyframes pluse-border {
  0% {
    transform: translatex(-50%) translatey(-50%) translatez(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translatex(-50%) translatey(-50%) translatez(0) scale(1.8);
    opacity: 0;
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.delay {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.delay0 {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.delay1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delay2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}/*# sourceMappingURL=hotel.css.map */