@import "./variable/color";
:root {
  --primary: $active-color;
}
body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: $dark-color;
  .navbar-brand {
    color: $active-color;
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.2rem;
  }
  .contact {
    background-color: #fff;
    .icon {
      color: $active-color;
    }
  }

  .navbar {
    background-color: $dark-color;
    width: 100%;

    .bar {
      color: $light-color;
      border: 0.1rem solid $light-color;
      position: relative;
      right: 1rem;
      &:focus {
        box-shadow: none;
      }
    }
    .navbar-nav {
      margin-right: auto;
      .nav-item {
        .nav-link {
          color: white;
          padding: 1.5rem 0;
          margin-left: 2rem;
          &.active,
          &:hover {
            color: $active-color;
          }
          a.dropdown-toggle:hover + .dropdown-menu {
            display: block;
          }
        }
      }
    }
  }
}
.home {
  .carousel-inner {
    // height: 100vh;
    .carousel-caption {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba($color: #152138, $alpha: 0.7);
      .content {
        perspective: 300px;
      }
    }
    .section-title {
      background-color: transparent;
      &::after {
        content: "";
        position: absolute;
        left: 65%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 0.1rem;
        width: 8%;
        background-color: $active-color;
        @media (max-width: 650px) {
          left: 75%;
          top: 50%;
        }
      }
      &::before {
        content: "";
        position: absolute;
        right: 58%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 0.1rem;
        width: 8%;
        background-color: $active-color;
        @media (max-width: 650px) {
          left: 25%;
          top: 50%;
        }
      }
    }
    a.btn-first {
      background-color: $active-color;
      width: fit-content;
      border: none;
      outline: none;
    }
  }
}
@media (max-width: 768px) {
  .home {
    .carousel-inner {
      .carousel-item {
        min-height: 450px;
        position: relative;
        img {
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
          display: none;
        }
      }
    }
  }
}
.booking {
  position: relative;
  margin-top: -3.5rem;
  z-index: 2;
  text-transform: capitalize;
  .btn {
    background-color: $active-color;
  }
}
.about {
  .hesd-about {
    // font-size: 1.4rem;
    color: $active-color;
    font-weight: 800;
    position: relative;
    text-transform: uppercase;
    &::after {
      content: "";
      width: 2.8rem;
      height: 0.15rem;
      background-color: $active-color;
      position: absolute;
      left: 6.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  h1 {
    .hotelier {
      color: $active-color;
    }
  }
}
.hidden {
  visibility: hidden;
}
.room {
  .main-head {
    text-align: center;
    h6 {
      font-weight: 800;
      font-size: 1.3rem;
      color: $active-color;
      display: inline-block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 2.8rem;
        height: 0.18rem;
        background-color: $active-color;
        left: -55px;
        top: 50%;
      }
      &::after {
        content: "";
        position: absolute;
        width: 2.8rem;
        height: 0.18rem;
        background-color: $active-color;
        right: -55px;
        top: 50%;
      }
    }
    h1 {
      font-weight: 800;
      span {
        color: $active-color;
        text-transform: uppercase;
      }
    }
  }
  .price {
    background-color: $active-color;
  }
  .content {
    font-size: 0.9rem;
  }
}
.video {
  // in class adding with scroll
  &.show {
    position: relative;
    animation: zoomIn 0.4s ease-in 1;
  }
  h5 {
    position: relative;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      height: 0.1rem;
      width: 3.5rem;
      top: 50%;
      right: -4.5rem;
      background-color: $active-color;
    }
  }
  .play-video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url(../img/video.jpg);
    // background: linear-gradient(rgba(15, 23, 43, 0.1), rgba(15, 23, 43, 0.1)),
    // url(../img/video.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fa-play {
    z-index: 10;
  }
  .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    box-sizing: content-box;
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: $active-color;
    // padding: 18px 20px 18px 28px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translatex(-50%) translatey(-50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $active-color;
      animation: pluse-border 1s infinite ease-out;
    }
  }
  .play {
    border: 2px solid red;
  }
}
svg {
  color: $active-color;
}
.btn {
  width: fit-content;
  background-color: $active-color;
  color: white;
  &:hover {
    background-color: $active-color;
    color: white;
  }
  &.bg-dark {
    background-color: #212529;
    color: white;
  }
}
@keyframes pluse-border {
  0% {
    transform: translatex(-50%) translatey(-50%) translatez(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translatex(-50%) translatey(-50%) translatez(0) scale(1.8);
    opacity: 0;
  }
}
.slideInDown {
  animation-name: slideInDown;
}
.slideInLeft {
  animation-name: slideInLeft;
}
.slideInRight {
  animation-name: slideInRight;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.zoomIn {
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.delay {
  animation-delay: -0.2s;
}
.delay0 {
  animation-delay: -0.2s;
}
.delay1 {
  animation-delay: 0.2s;
}
.delay2 {
  animation-delay: 0.4s;
}
.delay3 {
  animation-delay: 0.6s;
}
.delay4 {
  animation-delay: 0.8s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

// .info-contact {
//     position: absolute;
//     left: 30rem;
//     top: 0;
//     width: 80%;
//     height: 2rem;
// }
